@page "/more/about"
@* 
@inject IOptions SiteOption SiteOption


<PageTitle>关于 - @SiteOption.AppTitle</PageTitle>

@code{
    bool IsWasm;
    bool IsServer;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Console.WriteLine("render: " + SiteOption.AppTitle);

            IsWasm = IRenderMode.IsWasm();
            IsServer = IRenderMode.IsWasm() is false;

            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("init: " + SiteOption.AppTitle);
    }
}


<MCard Title="@IsServer.ToString()" Subtitle="@nameof(IsServer)" Text="@SiteOption.AppTitle" />
<MCard Title="@IsWasm.ToString()" Subtitle="@nameof(IsWasm)" Text="@SiteOption.AppTitle" />
 *@
@* @inherits BaseComponent
@inject AppService AppService


<div class="container cl-container cl-post">
    <div>
        <CmsCard>
            <HeadTemplate>
                <CmsTitle Icon="far fa-file" Title="关于"/>
            </HeadTemplate>
            <ChildContent>
                @if (!string.IsNullOrWhiteSpace(_html))
                {
                    @((MarkupString)_html)
                }
            </ChildContent>
        </CmsCard>
        <div style="height: 20px;"></div>
    </div>
    <div>
        <UWebSiteCount/>
        <div style="height: 20px;"></div>
        <UPostRank/>
    </div>
</div>

@code
{

    private string? _html;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        _html = await AppService.ReadAboutAsync();
    }
} *@