@page "/more/about"

<PageTitle>关于 - @SiteInfo.AppTitle</PageTitle>

@code {
    bool IsWasm;
    bool IsServer;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            IsWasm = IRenderMode.IsWasm();
            IsServer = IRenderMode.IsWasm() is false;

            InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    async Task OnClick()
    {
        await Task.Delay(100);
        StateHasChanged();
    }


    // string GetInfos()
    // {
    //     System.Text.Json.JsonSerializerOptions options = new()
    //         {
    //             Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
    //             WriteIndented = true
    //         };
    //     var type = SiteInfo.GetType();
    //     var props = type.GetProperties();
    //     System.Text.StringBuilder sb = new System.Text.StringBuilder();
    //     sb.AppendLine("```json");
    //     sb.AppendJoin(System.Environment.NewLine, props.Select(x => new { x.Name, Value = x.GetValue(SiteInfo) }).Select(x => System.Text.Json.JsonSerializer.Serialize(x, options)));
    //     sb.AppendLine();
    //     sb.AppendLi ne("```");
    //     var ret = sb.ToString();
    //     return ret;
    // }
}


<MCard Title="@IsServer.ToString()" Subtitle="@nameof(IsServer)" Text="@SiteInfo.AppTitle" />
<MCard Title="@IsWasm.ToString()" Subtitle="@nameof(IsWasm)" Text="@SiteInfo.AppTitle" />

<MButton OnClick="OnClick">aaa</MButton>

@* <MMarkdownIt Html="true" Source="@GetInfos()"/> *@




@* @inherits BaseComponent
@inject AppService AppService


<div class="container cl-container cl-post">
    <div>
        <CmsCard>
            <HeadTemplate>
                <CmsTitle Icon="far fa-file" Title="关于"/>
            </HeadTemplate>
            <ChildContent>
                @if (!string.IsNullOrWhiteSpace(_html))
                {
                    @((MarkupString)_html)
                }
            </ChildContent>
        </CmsCard>
        <div style="height: 20px;"></div>
    </div>
    <div>
        <UWebSiteCount/>
        <div style="height: 20px;"></div>
        <UPostRank/>
    </div>
</div>

@code
{

    private string? _html;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        _html = await AppService.ReadAboutAsync();
    }
} *@