@code {
    void TTT()
    {
        Console.WriteLine(nameof(PageIndex) + ":\t" + PageIndex);
        Console.WriteLine(nameof(PageSize) + ":\t" + PageSize);
        Console.WriteLine(nameof(PageLength) + ":\t" + PageLength);
    }

}
<style>
    .ttt {
        transition: box-shadow 0.3s ease,transform 0.3s ease;
        padding: 16px 8px;
        margin-inline: 24px;
    }

        .ttt:hover {
            transform: scale(1.03);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
        }
</style>
<MContainer Style="width:80%;max-width:1200px">
    <MBorder Class="elevation-1 mb-4">
        <MCardTitle @onclick="TTT">
            博文列表
        </MCardTitle>
    </MBorder>
    <MList ThreeLine="true" Elevation="1" Class="rounded-lg py-2">
        @foreach (var item in BlogPosts)
        {
            var tags = item.Tags ?? [];
            <MListItem Ripple="true" Class="ttt">
                <MListItemContent>
                    <MListItemTitle Class="my-2">
                        <a href="@ConstantUtil.GetBbsPostUrl(item)">
                            @item.Title
                        </a>
                    </MListItemTitle>
                    <MListItemSubtitle>
                        @(item.Description + item.Description + item.Description + item.Description + item.Description)
                    </MListItemSubtitle>
                    <MChipGroup Column="true" Max="0">
                        @foreach (var tag in tags)
                        {
                            <MChip Label="true" Small="true" Color="@MDS.Primary.Style()" Outlined="tag!=HlTag"
                                   OnClick="()=>SearchByTag(tag)">
                                @tag
                            </MChip>
                        }
                    </MChipGroup>
                </MListItemContent>
                <MListItemAvatar Tile="true" Class="my-auto" Size="120">
                    <MImage Src="@item.Cover"></MImage>
                </MListItemAvatar>
            </MListItem>
        }

        <MPagination Value=PageIndex
                     ValueChanged=PageIndexChanged
                     TotalVisible=10
                     MobileBreakpoint="Breakpoints.Md"
                     Length="PageLength" />
    </MList>
</MContainer>
