<div id="cats">
    <MList Style="min-width:160px;">
        <MListItemGroup Value="@(CatSlug??string.Empty)" ActiveClass="@MDS.Primary.Style()">
            <MListItem Value="string.Empty" OnClick="()=>SearchByCatSlug(null)" Title="所有" />
            @foreach (var cat in cats)
            {
                <MListItem Value="cat.Slug" OnClick="()=>SearchByCatSlug(cat.Slug)" AppendIcon="@null" Title="@cat.Name" />
            }
        </MListItemGroup>
    </MList>
</div>


<div id="toc" style="width:18%">
    <MList Outlined="true" Style="min-width:160px;">
        <MListItemGroup @bind-Value=curItem ActiveClass="@MDS.Primary.Style()">
            <MListItem Href="/bbs#博文" Title="顶部" Class="item-title" />

            @foreach (var item in BlogPosts)
            {
                <MListItem Value="item.Slug" Href="@("/bbs#" + item.Slug)" AppendIcon="@null" Title="@item.Title" />
            }
        </MListItemGroup>
    </MList>
</div>


<MList ThreeLine="true" Elevation="2" Class="rounded-lg mx-auto" Style="width:60%;">
    <MCardTitle Id="@Title">
        <span class="">@Title</span>
        <MMenu @bind-Value=searchOpen OffsetX="true"
               ContentClass="elevation-0" ContentStyle="background-color:transparent"
               NudgeTop="18"
               CloseOnContentClick="false">
            <ActivatorContent>
                <MButton @attributes="context.Attrs"
                         IconName="@MDI.search_web" Class="mx-2" Color="@MDS.Success.Style()" />
            </ActivatorContent>
            <ChildContent>
                <MTextField @bind-Value=keyword
                            Solo="true" Autofocus="true" Class="ma-2 "
                            Prefix="全局 搜索: " Counter="36"
                            OnEnter="SearchByAny" Color="@MDS.Primary.Style()">
                    <AppendContent>
                        <MButton Depressed="true" OnClick="SearchByAny" Color="@MDS.Primary.Text()">搜索</MButton>
                    </AppendContent>
                </MTextField>
            </ChildContent>
        </MMenu>
    </MCardTitle>
    <MCardSubtitle Class="ml-2 my-1" Style="height:1em">
        @SearchTooltip
    </MCardSubtitle>
    <MDivider Style="border-top-width: 5px;margin: 8px 16px 16px 16px" />

    @if (NoContent is true)
    {
        <MChip Color="red lighten-2"
               Dark="true" Label="true"
               Href="@InteractByAny.Route"
               Style="margin-left:50%;transform: translateX(-50%);padding-inline: 32px;font-size:1em">
            查询无果 清除筛选
        </MChip>
    }
    @foreach (var item in BlogPosts)
    {
        var tags = item.Tags ?? [];
        @* var cats = item.Categories ?? []; *@
        <blazorDiv>
            <MListItem Value="@item.Slug" Class="hoverItem" Id="@item.Slug">
                <MListItemContent>
                    <MButton Href="@GetBbsPostUrl(item)"
                             Outlined="item.Slug!=curItem"
                             Large="true" Class="mb-1"
                             Depressed="true" Block="true"
                             Color="@MDS.Primary.Style()">
                        @item.Title
                    </MButton>

                    <MListItemSubtitle>
                        @item.Description
                    </MListItemSubtitle>

                    <MChipGroup Column="true" Max="0">
                        @foreach (var tag in tags)
                        {
                            <MChip Label="true" Small="true" Color="@MDS.Info.Style()"
                                   Outlined="tag.Equals(HlTag,StringComparison.OrdinalIgnoreCase) is false"
                                   OnClick="()=>SearchByTag(tag)">
                                @tag
                            </MChip>
                        }
                    </MChipGroup>

                    <MLabel Style="align-content:center;">
                        <span>update:&nbsp; @item.Lastmod &nbsp; | &nbsp;</span>
                        <span>created:&nbsp; @item.Date &nbsp; | &nbsp;</span>
                    </MLabel>

                </MListItemContent>

                <div style="text-align:center;display:flex;flex-flow:column">
                    <MListItemAvatar Tile="true" Class="my-auto" Size="140">
                        @* @onmouseover="()=>cur=item.Slug" *@
                        <MImage Src="@item.Cover" />
                    </MListItemAvatar>
                    <MChip Label="true" Small="true" Color="@MDS.Success.Style()"
                           OnClick="()=>SearchByAuthor(item.Author)" Class="ma-2">
                        by:&nbsp; @(item.Author ?? BlogPost.DefaultAuthor)
                    </MChip>
                </div>

            </MListItem>
        </blazorDiv>
    }

    <MPagination Value=PageIndex
                 ValueChanged=PageIndexChanged
                 TotalVisible=10
                 MobileBreakpoint="Breakpoints.Md"
                 Length="PageLength"
                 Class="mt-8 mb-2" />
</MList>
