@inject IAppService IAppService

<div id="cats">
    <MList Outlined="true" Style="min-width:160px">
        <MListItemGroup Value="@(CatSlug??string.Empty)" ActiveClass="@MDS.Primary.Style()">
            <MListItem Value="string.Empty" OnClick="()=>SearchByCatSlug(null)" Title="所有" />
            @foreach (var cat in cats)
            {
                <MListItem Value="cat.Slug" OnClick="()=>SearchByCatSlug(cat.Slug)" AppendIcon="@null" Title="@cat.Name" />
            }
        </MListItemGroup>
    </MList>
</div>


<div id="toc" style="width:18%">
    <div>
        <a class="item-title" href="@GetTopLink()" title="@Title">@Title</a>
    </div>
    @foreach (var item in BlogPosts)
    {
        <div>
            <a class="item-h2" href="@GetLink(item.Slug)" title="@item.Title">@item.Title</a>
        </div>
    }
</div>


<MList ThreeLine="true" Elevation="2" Class="rounded-lg py-2 mx-auto" Style="width:60%;max-width:1200px;">
    <MCardTitle Id="@Title">@Title</MCardTitle>
    @if (BlogPosts.Count is 0)
    {
        <MChip Color="red lighten-2 my-2 px-4"
               Dark="true" Label="true" Large="true"
               Style="margin-left:50%;transform: translateX(-50%);">
            查询无果
        </MChip>
    }
    @foreach (var item in BlogPosts)
    {
        var tags = item.Tags ?? [];
        @* var cats = item.Categories ?? []; *@
        <blazorDiv>
            <MListItem Class="hoverItem" Id="@item.Slug">
                <MListItemContent>
                    <MButton Href="@ConstantUtil.GetBbsPostUrl(item)" Disabled="false" Outlined="true"
                             Depressed="true" Block="true" Color="@MDS.Primary.Style()"
                             Class="mb-1">
                        @item.Title
                    </MButton>

                    <MListItemSubtitle>
                        @item.Description
                    </MListItemSubtitle>

                    <MChipGroup Column="true" Max="0">
                        @foreach (var tag in tags)
                        {
                            <MChip Label="true" Small="true" Color="@MDS.Info.Style()"
                                   Outlined="tag.Equals(HlTag,StringComparison.OrdinalIgnoreCase) is false"
                                   OnClick="()=>SearchByTag(tag)">
                                @tag
                            </MChip>
                        }
                    </MChipGroup>

                    <MLabel Style="align-content:center;">
                        <span>update:&nbsp; @item.Lastmod &nbsp; | &nbsp;</span>
                        <span>created:&nbsp; @item.Date &nbsp; | &nbsp;</span>
                    </MLabel>

                </MListItemContent>

                <div style="text-align:center;display:flex;flex-flow:column">
                    <MListItemAvatar Tile="true" Class="my-auto" Size="140">
                        <MImage Src="@item.Cover" />
                    </MListItemAvatar>
                    <MChip Label="true" Small="true" Color="@MDS.Success.Style()"
                           OnClick="()=>SearchByAuthor(item.Author)" Class="ma-2">
                        by:&nbsp; @(item.Author ?? BlogPost.DefaultAuthor)
                    </MChip>
                </div>

            </MListItem>
        </blazorDiv>

    }

    <MPagination Value=PageIndex
                 ValueChanged=PageIndexChanged
                 TotalVisible=10
                 MobileBreakpoint="Breakpoints.Md"
                 Length="PageLength"
                 Class="mt-8 mb-2" />
</MList>
